body{
  background-color: #F9F2ED;
  margin: 0px;
  text-align: center;
  color: #40514E;
}

h1{
  margin-top: 50px auto 0 auto;
  font-size: 4.25rem;
  font-family: 'Roboto', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  }


h3{
  font-family: 'Lato', sans-serif;
  color: #11999E;
  }

hr{
  border-top: 10px dotted;
  color: #967E76;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-coin{
  width: 50px;
  length: 50px;
  position: relative;
  left: 250px;
  top: 50px;
}

.bottom-coin{
  width: 50px;
  length: 50px;
  position: relative;
  bottom: 325px;
  margin-top: 100px;
  padding-top: 100px;
}

.digital {
  width: 400px;
  length: 200px;
}

.business-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.brn{
  color: #EAF6F6;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

.middle-container{
  background-color: #F9F2ED;
  padding: 25px 0;
}

.me{
  length: 200px;
  height: 200px;
}


.bottom-container{
  background-color: #66BFBF;
  padding-top: 25px;
  margin-top: 75px;
  padding-bottom: 1px;
}

a{
  color: #11999E;
  padding: 0px 15px;
  font-style: normal;
  text-decoration: none;
}

a:hover{
  color: #66BFBF;
}

.Tech-img{
  width: 25%;
  float: left;
  margin-right: 15px;
}

.Eco-img{
  width: 25%;
  float: right;
  margin-left: 15px;
}

.Prairie-img{
  width: 25%;
  float: left;
  margin-right: 15px;
}

.south-asia-img{
  width: 25%;
  float: right;
  margin-left: 15px;
}
  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
